body{

    background-color: rgb(241, 245, 246);

}

header div{
    display: flex;
    font: size 1.55vh; ;
    justify-content: center;
   
}

#banniere{
    background-image:url("C:\Users\Laure COSTA\Documents\GitHub\REA\REA 2 HTML CSS\image\bannièrepoischicheNB2.jpg");
    opacity:0.33;
    height: 30px;
    display: flex;
    flex-direction: column;
}

h6{
    top:0px; 
    text-align: center;
    justify-content: center;
    font-size:15px ;
    color: navy;
}


#logo{

    height:150px;
    width: 150px;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    padding: 25px;
    justify-items:center;
}

nav li{

    list-style: none;
    font-size: 15px;
    text-decoration: none;
}

.a:visited{
    color:grey;
} 

.a:link{
    color:#125ca18e; 
}



footer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 20px;
}